java/soap/soap-handlers/src/main/webapp/WEB-INF/wsdl/HolaService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/Hola/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 
	name="HolaService"
	targetNamespace="http://www.example.org/Hola/">

	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/Hola/">
			<xsd:element name="Test">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TestResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="TestRequest">
		<wsdl:part name="parameters" element="tns:Test"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="TestResponse">
		<wsdl:part name="parameters" element="tns:TestResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="Hola">
		<wsdl:operation name="Test">
			<wsdl:input message="tns:TestRequest"></wsdl:input>
			<wsdl:output message="tns:TestResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="HolaServiceSOAP" type="tns:Hola">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Test">
			<soap:operation soapAction="http://www.example.org/Hola/Test" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>		
	</wsdl:binding>

	<wsdl:service name="HolaService">
		<wsdl:port binding="tns:HolaServiceSOAP" name="HolaServicePort">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
