java/jax-ws/ws-client/src/main/resources/META-INF/wsdl/globalweather.xsd

<?xml version="1.0" encoding="utf-8"?>
<s:schema 
	xmlns:s="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.webserviceX.NET"
	elementFormDefault="qualified">

	<s:element name="GetWeather">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="CityName"
					type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="CountryName"
					type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="GetWeatherResponse">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="GetWeatherResult"
					type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="GetCitiesByCountry">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="CountryName"
					type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="GetCitiesByCountryResponse">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1"
					name="GetCitiesByCountryResult" type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="string" nillable="true" type="s:string" />
</s:schema>